<!DOCTYPE html>
<html>
<head>
  <title>Oauth2</title>
  <%= stylesheet_link_tag    "oauth2/application" %>
  <%= javascript_include_tag "oauth2/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
